---
layout: default
page title: designing
---

{% include hero.html %}

<!-- TAGS
<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<div class="lates-title">
					Portfolio
					{% if site.posts.size > 0 %}
            			<div class="article-tags__box">
            				<span class="article__tag">tags: </span>
              			{% for tag in site.tags %}
              			 <a class="article__tag" href="/tag/{{ tag | first}}">{{ tag | first }}</a>
              			{% endfor %}
            			</div>
          			{% else %}
          			{% endif %}
				</div>
			{% endif %}
          </div>
		</div>
	</div> -->

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% if site.posts.size > 5 %}
	{% include pagination.html %}
{% endif %}