
.instructions{
      font-style: italic;
    line-height: initial;
}

#haiku-input{
  width: 50%;
  height: 120px;
  padding: 10px;
  font-family: Playfair Display;
  font-size: 14px;
  margin: 20px;
  border-radius: 6px;
      border: 1px solid #898989;
}

.maze-step{
  margin: 20px;
  padding: 5px;
}

.word-bank{
  line-height: initial
}

#submit-haiku{
    display: block;
    padding: 6px;
    border: 1px solid #898989;
    border-radius: 6px;
    margin: 0px 20px;
}

#submit-haiku:hover{
  color: #fff;
  background-color: #898989;
}

.viewscreen-post{
  margin: 0 auto;
  padding: 0;
  bordeR: 0;
  font-size:100%;
}

.header{
  height: 90px;
}

.nav{
  width: 100%;
  background-color: #fff;
  height: 90px;
  margin: 0 auto;

  align-items: center;
  transition: background-color .2s;
  position: fixed;
  z-index: 1000;
}

.nav-logo{
  float: left;
  margin-left: 5%;
  display: inline-block;
}

.svg{
  position: relative;
  height: auto;
}

.nav-title{
  width: 80%;
  text-align: center;
  display:inline-block;
}
.nav-title h1{
  font-style:italic;
  font-weight: lighter;
  font-size: 100%;
}

.nav-burger{
  float: right;
  margin-right: 5%;
  display: inline-block;
}
.page{
  padding-top: 20px;
  text-align: left;
  margin: 0 auto;
}
.page-header{
  padding: 0 50px;
  margin: 0 auto;
  width: 85%;
}
.page-title{
  margin: 10px 0px;
  font-size: 60px;
  line-height: 95px;
  letter-spacing: -5px;
  font-weight: 200;
  font-style: italic;
}
.page-subtitle{
  margin: 30px 0 48px 0;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}

.page-img-bar{
  width: 100%;
  height: 400px;
  margin: 30px auto;
  display: flex;
  background-color: #000;
  background-image: url(geometricbackground.jpg);
}

.page-img{
  width: 80%;
  height: 400px;
  margin: 30px auto;
  display: flex;
  background-color: #000;
  background-image: url(geometricbackground.jpg);
}

.page-body{
  padding: 80px 0px;
  margin: 0 25%;
  font-size: 16px;
  line-height: 2;
}

.footer{
  background-color: #262a30;
  height: 200px;
  color: #fff;
  display: flex;
}

.footer .temp-span{
  width: 50%;
  margin: 30px auto;
}
.footer li{
  list-style: none;
}
body{
  margin: 0 auto;
  font-family: Playfair Display;
}
