.footer {
  position: relative;
  padding: 40px 0 40px;
  text-align: center;
  background: $black;
  font-color: $gray;

  .contact {
    margin-bottom: 15px;
  }

  .copyright {
    a {
      color: $light-gray;
      &:hover {
        color: $brand-color;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 20px 0 20px;
  }
}